<html>
  <head>
    <title><%= title%></title>
  </head>
  <body>
    <div>
      <form method="POST" action="/new">
        <h1>New Message!</h1>
        <div>
          <label for="user">User:</label>
          <input type="text" id="user" />
        </div>
        <div>
          <label for="text">Message:</label>
          <input type="text" id="text" />
        </div>
        <button type="submit">Submit</button>
      </form>
    </div>
  </body>
</html>
