<html>
  <head>
    <title><%= title%></title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <div>
      <a href="/new"><button>New Message</button></a>
    </div>
    <div class="message-board">
      <% messages.forEach(message => { %>
      <div class="message-container">
        <div class="message-info">
          <p class="message-user"><%= message.user %></p>
          <p class="message-date"><%= message.added %></p>
        </div>
        <p class="message-text"><%= message.text %></p>
      </div>
      <% }) %>
    </div>
  </body>
</html>
