<html>
  <head>
    <title><%= title%></title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <div>
      <% messages.forEach(message => { %>
      <div>
        <div>
          <p><%= message.user %></p>
          <p><%= message.added %></p>
        </div>
        <p><%= message.text %></p>
      </div>
      <% }) %>
    </div>
  </body>
</html>
