*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  max-width: 1000px;
  padding: 1em;
  margin: 0 auto;
}

/* INDEX */

.message-container {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin: 1em 0;
}

.message-info {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.message-user,
.message-text {
  font-size: 1.2rem;
}

.message-user {
  color: blue;
}

.message-date {
  font-size: 0.8rem;
  color: grey;
}

/* NEW MESSAGE */

form {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.input-container {
  display: flex;
  flex-direction: column;
}

.submit-btn {
  align-self: flex-end;
}
